:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-grey: hsl(234, 12%, 34%);
  --lighter-grey: hsl(212, 6%, 44%);
  --poppins: "Poppins", sans-serif;
}
body {
  font-family: var(--poppins);
}
header {
  text-align: center;
}
h2 {
  color: var(--lighter-grey);
  font-weight: 200;
}
h1 {
  color: var(--dark-grey);
  font-weight: 600;
}
header p {
  color: var(--dark-grey);
  font-weight: 400;
}
main h3 {
  color: var(--dark-grey);
  font-weight: 600;
}
main p {
  color: var(--lighter-grey);
  font-weight: 400;
}

.card {
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 12px 40px;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  gap: 24px;
}
main .image {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.supervisor {
  align-self: center;
  border-top: 5px solid var(--cyan);
}
.teambuilder {
  margin-bottom: 24px;
  border-top: 5px solid var(--red);
}
.karma {
  border-top: 5px solid var(--orange);
}
.calculator {
  align-self: center;
  border-top: 5px solid var(--blue);
}
